body{
    height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
}

img{
    align-self: center;
}

button {
    background: none;
    color: inherit;
    font: inherit;
    outline: inherit;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-section, .some-info-section-items, .quote-section, .call-action-section {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 50px 100px;
}

.header {
    display: flex;
    background-color: #1f2937;
    padding: 16px;
    justify-content: space-around;
    color: #f9faf8;
    align-items: center;
}

.left-side {
    font-size: 24px;
}

.right-side {
    font-size: 16px;
}

.main-section {
    background-color: #1f2937;
    align-items: center;
    gap: 100px;
    flex: 1;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.title-subtext {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 8px;
}

.main-section-text-button, .call-action-section-button {
    background-color: #3882f6;
    color: #fff;
    padding: 4px 8px;
    border-radius: 6px;
}

.main-section-img {
    height: 200px;
    width: 200px;
}

.some-info-section-text {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 8px;
    padding-top: 16px;
}

.some-info-section-img {
    height: 100px;
    width: 100px;
    border-radius: 6px;
    padding-bottom: 8px;
}

.some-info-section-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.quote-section {
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quote-author {
    font-weight: 600;
    align-self: flex-end;
}

.call-action-section-content {
    display: flex;
    background-color: #3882f6;
    padding: 16px 50px;
    color: #fff;
    border-radius: 4px;
    gap: 16px;
}

.call-action-section-title {
    font-weight: 600;
    font-size: larger;
}

.call-action-section-subtext {
    font-style: italic;
}

.call-action-section-button {
    border: #5d6166 solid 2px;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}